.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    min-width: 400px;
    transition: opacity 0.5s ease-out; /* Add transition for smooth fade out */
}

.splash-text {
    font-weight: 300;
    font-size: 32px;
    color: #ffffff90;
    transition: opacity 0.4s ease-out;
}

.splash-highlight {
    font-weight: 300;
    font-size: 36px;
    margin: 0 5px;
    color: #ffffff;
}

.splash-line {
    font-size: 36px;
    font-weight: 300;
    color: white;
    height: 200px;
}

.fade-out {
    opacity: 0; /* Fade out effect */
    transition: opacity 0.5s ease-out; /* Ensure transition is applied to fade-out class */
    -webkit-transition: opacity 0.5s ease-out; /* For Safari */
    -moz-transition: opacity 0.5s ease-out; /* For Firefox */
    -o-transition: opacity 0.5s ease-out; /* For Opera */
    -ms-transition: opacity 0.5s ease-out; /* For IE */
}

@media (max-width: 768px) {
    .splash-container {
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
        min-width: 300px;
        transition: opacity 0.5s ease-out; /* Ensure transition is applied in media query */
        display: none; /* Hide splash screen on mobile devices */
    }

    .splash-text {
        font-size: 20px;
        font-weight: 300;
    }

    .splash-highlight {
        font-size: 24px;
        font-weight: 500;
    }
}