footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1.5px solid #08282f;
    display: grid;
    grid-template-columns: 0.9fr 4fr 0.7fr;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 2;

}
a{
    text-decoration: none;
    color: #6b898e;
}
.letsConnect{
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #6b898e;
    
    
}
.middleFooter{
    height: 50px;
    border-left: 1.5px solid #08282f;
    border-right: 1.5px solid #08282f;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.socials a{
    margin: 0 2px;
}
.XIcon{
    width: 15!important;
    height: 15px !important;
}
.linkedInIcon, .gitIcon{
    width: 20px !important;
    height: 20px !important;
}
.gitHub{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #6b898e;
}
.gitHub a{
    margin: 0 10px;
    
}
.mobileFooter{
    display: none;
}

.services-page footer {
    display: none;
}

@keyframes wave {
    0% {
        box-shadow: 0 5px 40px 5px rgba(32, 114, 122, 0.5), 0 10px 80px 20px rgba(112, 85, 210, 0.3);
    }
    50% {
        box-shadow: 0 10px 70px 10px rgba(32, 114, 122, 0.5), 0 20px 100px 30px rgba(112, 85, 210, 0.3);
    }
    100% {
        box-shadow: 0 5px 40px 5px rgba(32, 114, 122, 0.5), 0 10px 80px 20px rgba(112, 85, 210, 0.3);
    }
}

@media (max-width: 768px){
    footer{
        grid-template-columns: 1fr;
        box-shadow: 0 5px 40px 5px rgba(32, 114, 122, 0.5), 0 10px 80px 20px rgba(112, 85, 210, 0.3);
        animation: wave 4s infinite;
    }
    .letsConnect{
        display: none;
    }
    .socials{
        display: none;
    }
    .gitHub{
        display: none;
    }
    .middleFooter{
        display: none;
    }
    .mobileFooter{
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .mobileFooter p{
        font-size: 12px;
        font-weight: 300;
        color: #6b898e;
        text-align: left;
        margin-left: 20px;
    }
    .mobileSocials{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-right: 20px;
        
    }
    .mobileSocials a{
        margin: 0 10px;
        
    }
}

