header{
    margin: auto;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 0.9fr 3fr 0.45fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;  
    border-bottom: 1.5px solid #08282f;
    padding: 0;
}
a{
    text-decoration: none;
    color: #6b898e;
}  
a:hover{
    color: bisque;
}
a.active {
    color: bisque;
    
}
.myName{
    font-size: 14px;
    font-weight: 300;
    text-align: left; 
    margin-left: 20px; 
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1.5px solid #08282f;
    border-right: 1.5px solid #08282f;
    
}
ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}
li{
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    
}
.contactMe{
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}
.mobileMenuIcon{
    display: none;
}
.mobileSidebar{
    display: none;
}

@media (max-width: 768px){
    header{
        grid-template-columns: 5fr 0.7fr;
    }

    .myName{
        font-size: 14px;
        z-index: 1;

    }
    nav{
        display: none;
    }
    .contactMe{
        display: none;
    }
    .mobileMenuIcon{
        display: block;
        color: #6b898e;
        z-index: 1;
    }
    
    .mobileSidebar{
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        height:auto;
        background-color: transparent;
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .routeLink{
        border: 1px solid #08282f;
        background-color: #041215;
        padding: 20px;
        width: 320px;
        font-size: 14px;
        font-weight: 300;
    }
    

}