.landingPageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: auto;



}
.landingContainer{
    justify-self: center;
}
.landingContainer p{
    font-size: 16px;
    font-weight: 300;
    color: #6b898e; /* Ensure high contrast with background */
}
.bigName{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff; /* Ensure high contrast with background */
    margin-top: 5px;
}
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.title{
    font-size: 36px;
    font-weight: 400;
    margin-top: 5px;
    background: linear-gradient(90deg, aqua, aquamarine, purple, aqua, teal, aquamarine);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 5.5s infinite;
}
.commentary{
    margin-top: 50px;
}
.commentary p{
    font-size: 14px;
    font-weight: 300;
    color: #6b898e; /* Increase contrast */
    margin-top: 15px;
}
.const{
    font-size: 14px;
    font-weight: 400;
    color: aqua; /* Ensure high contrast with background */
}
.var{
    font-size: 14px;
    font-weight: 300;
    color: white; /* Ensure high contrast with background */
}
.theLink{
    font-size: 14px;
    font-weight: 300;
    color: greenyellow; /* Ensure high contrast with background */
    margin-top: 5px;
}
.landingContent{
    display: flex;
    justify-content: center;
    align-items: right;
    position: relative;
    margin-left: 20px;
    width: 500px;
    height:80vh;
    overflow: hidden;
}
.techStack, .moreStacks ,.moreStacks2, .moreStacks3{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50%);
}
.techStack{
    left: 20%;
    animation: scrollUp 30s linear infinite; /* Infinite loop */
}
.moreStacks{
    left: 50%;
    animation: scrollDown 30s linear infinite; /* Infinite loop */
}
.moreStacks2{
    left: 80%;
    animation: scrollUp 30s linear infinite; /* Infinite loop */
}
.techIcon , .cpanel ,.woocommerce{
    width: 50px !important;
    margin: 20px 0;
    opacity: 0.8;
    transform-origin: center;
    cursor: pointer;
    position: relative; /* Ensure the pseudo-element is positioned relative to the icon */
}

.techIcon:hover, .cpanel:hover, .woocommerce:hover {
    transform: scale(1.5); /* Enlarge the icon */
    transition: transform 0.3s ease-in-out;
    animation-play-state: paused; /* Stop the loop */
}

.techIcon:hover::after, .cpanel:hover::after, .woocommerce:hover::after {
    content: attr(data-name); /* Show the name of the stack */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000; /* Background color for the tooltip */
    color: #fff !important; /* Text color */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    z-index: 10; /* Ensure the tooltip is above other elements */
}

@keyframes scrollUp {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(-80%);
    }
}
@keyframes scrollDown {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(-20%);
    }
}

@media (max-width: 768px){
    .landingPageContainer{
        width: auto;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .landingContainer{
        justify-self: center;
        align-self: center;
        padding: 20px;
    }
    .landingContent{
        display: none;
    }
    .landingContainer p{
        font-size: 14px;
    }
    .bigName{
        font-size: 36px;
        font-weight: 400;
    }
    .title{
        font-size: 24px;
        font-weight: 500;
    }
    .commentary p{
        font-size: 12px;
        font-weight: 400;
    }
    .const{
        font-size: 12px;
        font-weight: 400;
    }
    .var{
        font-size: 12px;
        font-weight: 400;
    }
    .theLink{
        font-size: 12px;
        font-weight: 400;
    }
}